@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Hind:wght@300;600;700&family=Montserrat:wght@300;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Hind:wght@300;600;700&family=Mouse+Memoirs&display=swap");
/* font-family: 'Edu SA Beginner', cursive;
font-family: 'Hind', sans-serif;
font-family: 'Montserrat', sans-serif; */
/* font-family: 'Mouse Memoirs', sans-serif; */
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box; }

.header {
  text-align: center; }

.primer_parrafo {
  color: black;
  background-color: white; }

.logo_inicio {
  width: 250px;
  border-radius: 10%; }

.nombreP {
  text-align: center;
  color: black; }
  .nombreP:hover {
    background-color: #00ffff9f; }

.navbar-nav {
  list-style-type: none; }

.nav-item {
  margin: 10px;
  padding: 5px;
  width: 150px;
  background-color: #000000; }

.nav-link {
  text-decoration: none;
  color: white; }
  .nav-link:hover {
    background-color: cyan; }

@media (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px; }
  .navbar-nav {
    display: flex;
    justify-content: center; }
  .nav-item {
    margin: 10px;
    padding: 5px;
    width: 100px; }
  .logo_inicio {
    width: 180px; } }

@media (max-width: 426px) {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .nav-item {
    width: 100px; }
  .logo_inicio {
    width: 120px; } }

.main h3 {
  text-decoration: overline underline;
  padding: 5px;
  color: black;
  display: inline; }

.main p {
  padding: 5px; }

.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }

.primera_seccion {
  background-image: url(https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?auto=compress&cs=tinysrgb&w=600);
  height: 300px;
  margin: 10px;
  padding: 5px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center; }
  .primera_seccion a {
    text-decoration: none; }

.segunda_seccion {
  color: #FDF0D5;
  text-align: center;
  width: 900px;
  margin: 0 auto;
  color: black;
  border-left: 1px solid black;
  border-right: 1px solid black; }
  .segunda_seccion p {
    display: inline-block;
    padding: 5px; }

.titulo_destacado {
  text-align: center;
  transform: skew(-20deg);
  margin: 15px; }
  .titulo_destacado h3 {
    text-decoration: none;
    color: white;
    background-color: black; }

.tercera_seccion {
  width: 100%;
  text-align: center;
  margin: 5px; }
  .tercera_seccion div {
    width: 20%;
    display: inline-block;
    font-size: 11px;
    background-color: black;
    color: white;
    height: 350px;
    text-align: center;
    padding: 5px;
    margin: 5px; }
    .tercera_seccion div img {
      width: 200px; }

@media (max-width: 768px) {
  .segunda_seccion {
    width: 100vw; }
    .segunda_seccion img {
      width: 30px; }
      .segunda_seccion img p {
        font-size: 10px; }
  .titulo_destacado {
    font-size: 12px; }
  .tercera_seccion {
    width: 100%;
    text-align: center; }
    .tercera_seccion div {
      height: 300px; }
      .tercera_seccion div img {
        width: 120px; } }

@media (max-width: 426px) {
  .primera_seccion {
    background-image: url(https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?auto=compress&cs=tinysrgb&w=600);
    height: 300px;
    margin: 5px;
    padding: 5px;
    width: 420px; }
  .segunda_seccion {
    color: black;
    text-align: center; }
    .segunda_seccion p {
      display: inline-block;
      font-size: 15px; }
  .titulo_destacado {
    margin: 5px; }
    .titulo_destacado h3 {
      font-size: 8px; }
  .tercera_seccion {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .tercera_seccion div {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 350px;
      text-align: center; }
      .tercera_seccion div img {
        width: 200px; } }

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 10px;
  background-color: white;
  align-items: center; }
  .footer ul {
    list-style-type: none; }
    .footer ul li {
      display: inline-block;
      border: 5px black double;
      padding: 5px;
      margin: 5px; }
      .footer ul li a {
        text-decoration: none;
        color: black; }

.copy {
  text-align: center; }

@media (max-width: 768px) {
  .footer {
    font-size: 10px;
    width: 100vw; } }
