@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Hind:wght@300;600;700&family=Montserrat:wght@300;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Hind:wght@300;600;700&family=Mouse+Memoirs&display=swap");
/* font-family: 'Edu SA Beginner', cursive;
font-family: 'Hind', sans-serif;
font-family: 'Montserrat', sans-serif; */
/* font-family: 'Mouse Memoirs', sans-serif; */
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box; }

.header {
  text-align: center; }

.primer_parrafo {
  color: black;
  background-color: white; }

.logo_inicio {
  width: 250px;
  border-radius: 10%; }

.nombreP {
  text-align: center;
  color: black; }
  .nombreP:hover {
    background-color: #00ffff9f; }

.navbar-nav {
  list-style-type: none; }

.nav-item {
  margin: 10px;
  padding: 5px;
  width: 150px;
  background-color: #000000; }

.nav-link {
  text-decoration: none;
  color: white; }
  .nav-link:hover {
    background-color: cyan; }

@media (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px; }
  .navbar-nav {
    display: flex;
    justify-content: center; }
  .nav-item {
    margin: 10px;
    padding: 5px;
    width: 100px; }
  .logo_inicio {
    width: 180px; } }

@media (max-width: 426px) {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .nav-item {
    width: 100px; }
  .logo_inicio {
    width: 120px; } }

.main h3 {
  text-decoration: overline underline;
  padding: 5px;
  color: black;
  display: inline; }

.main p {
  padding: 5px; }

.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }

.primera_seccion {
  background-image: url(https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?auto=compress&cs=tinysrgb&w=600);
  height: 300px;
  margin: 10px;
  padding: 5px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center; }
  .primera_seccion a {
    text-decoration: none; }

.segunda_seccion {
  color: #FDF0D5;
  text-align: center;
  width: 900px;
  margin: 0 auto;
  color: black;
  border-left: 1px solid black;
  border-right: 1px solid black; }
  .segunda_seccion p {
    display: inline-block;
    padding: 5px; }

.titulo_destacado {
  text-align: center;
  transform: skew(-20deg);
  margin: 15px; }
  .titulo_destacado h3 {
    text-decoration: none;
    color: white;
    background-color: black; }

.tercera_seccion {
  width: 100%;
  text-align: center;
  margin: 5px; }
  .tercera_seccion div {
    width: 20%;
    display: inline-block;
    font-size: 11px;
    background-color: black;
    color: white;
    height: 350px;
    text-align: center;
    padding: 5px;
    margin: 5px; }
    .tercera_seccion div img {
      width: 200px; }

@media (max-width: 768px) {
  .segunda_seccion {
    width: 100vw; }
    .segunda_seccion img {
      width: 30px; }
      .segunda_seccion img p {
        font-size: 10px; }
  .titulo_destacado {
    font-size: 12px; }
  .tercera_seccion {
    width: 100%;
    text-align: center; }
    .tercera_seccion div {
      height: 300px; }
      .tercera_seccion div img {
        width: 120px; } }

@media (max-width: 426px) {
  .primera_seccion {
    background-image: url(https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?auto=compress&cs=tinysrgb&w=600);
    height: 300px;
    margin: 5px;
    padding: 5px;
    width: 420px; }
  .segunda_seccion {
    color: black;
    text-align: center; }
    .segunda_seccion p {
      display: inline-block;
      font-size: 15px; }
  .titulo_destacado {
    margin: 5px; }
    .titulo_destacado h3 {
      font-size: 8px; }
  .tercera_seccion {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .tercera_seccion div {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 350px;
      text-align: center; }
      .tercera_seccion div img {
        width: 200px; } }

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 10px;
  background-color: white;
  align-items: center; }
  .footer ul {
    list-style-type: none; }
    .footer ul li {
      display: inline-block;
      border: 5px black double;
      padding: 5px;
      margin: 5px; }
      .footer ul li a {
        text-decoration: none;
        color: black; }

.copy {
  text-align: center; }

@media (max-width: 768px) {
  .footer {
    font-size: 10px;
    width: 100vw; } }

/* productos */
.seccion_productosp div {
  display: inline-block;
  align-items: center;
  width: 200px;
  height: 300px;
  background-color: black;
  color: white;
  text-align: center;
  margin: 20px; }
  .seccion_productosp div p {
    font-size: 12px; }
  .seccion_productosp div img {
    width: 150px; }

.aside {
  width: 200px;
  height: 300px;
  display: inline-block;
  text-align: center; }
  .aside h3 {
    text-decoration: none; }
  .aside ul {
    text-align: center;
    list-style-type: none; }
    .aside ul li {
      padding: 10px; }
      .aside ul li a {
        text-decoration: none;
        color: black; }
        .aside ul li a:hover {
          background-color: #0084ffb8; }

.seccion_productosg div {
  display: inline-block;
  width: 200px;
  height: 300px;
  background-color: white;
  color: black;
  text-align: center;
  margin: 20px; }
  .seccion_productosg div p {
    font-size: 12px; }
  .seccion_productosg div img {
    width: 150px;
    margin-top: 20px; }

.aside_cat {
  width: 200px;
  height: 300px;
  display: inline-block;
  text-align: center; }
  .aside_cat h3 {
    text-decoration: none; }
  .aside_cat ul {
    text-align: center;
    list-style-type: none; }
    .aside_cat ul li {
      padding: 10px; }
      .aside_cat ul li a {
        text-decoration: none;
        color: black; }
        .aside_cat ul li a:hover {
          background-color: #0084ffb8; }

.imagen_producto {
  background-image: url(https://www.estudio34.com/wp-content/uploads/2020/05/HAPPETS-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  font-size: 40px;
  text-align: center; }
  .imagen_producto h4 {
    font-family: 'Mouse Memoirs', sans-serif;
    width: 250px;
    margin-left: 50px;
    background-color: #fec341; }

@media (max-width: 768px) {
  .seccion_productosp {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .seccion_productosp div {
      display: flex;
      flex-direction: column;
      width: 170px;
      height: 320px; }
  .aside {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 200px;
    display: inline-block;
    text-align: center; }
    .aside ul {
      list-style-type: none; }
  .seccion_productosg {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .seccion_productosg img {
      margin-top: 10px; }
  .aside_cat {
    width: 200px;
    height: 320px;
    display: inline-block;
    text-align: center; }
    .aside_cat ul {
      list-style-type: none; }
  .imagen_producto h4 {
    width: 300px;
    height: 50px;
    padding-top: 5px;
    font-size: 20px; } }

@media (max-width: 426px) {
  .imagen_producto h4 {
    width: 300px;
    height: 50px;
    padding-top: 5px;
    font-size: 20px; } }

.imagen_accesorios {
  background-image: url(https://media.istockphoto.com/photos/pet-care-concept-various-pet-accessories-and-tools-on-pink-background-picture-id1401042138?k=20&m=1401042138&s=612x612&w=0&h=7t-LlfmRssw8ewAnkf-OTUoKHVAiMGPxoWIWPtVYoWg=);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  text-align: center; }
  .imagen_accesorios p {
    padding-top: 350px;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 30px;
    color: white; }

.seccion_accesorios div {
  display: inline-block;
  width: 200px;
  height: 350px;
  background-color: black;
  color: white;
  text-align: center;
  margin: 20px; }

.seccion_accesorios p {
  font-size: 12px; }

.seccion_accesorios img {
  margin-top: 20px;
  width: 100%; }

.aside_acc {
  width: 200px;
  height: 300px;
  display: inline-block;
  text-align: center; }

.aside_acc h3 {
  text-decoration: none; }

.aside_acc ul {
  text-align: center;
  list-style-type: none; }

.aside_acc li {
  padding: 10px; }

.aside_acc a {
  text-decoration: none;
  color: black; }

.aside_acc a:hover {
  background-color: #f1627a; }

@media (max-width: 768px) {
  .imagen_accesorios {
    height: 300px; }
  .imagen_accesorios p {
    padding-top: 200px; }
  .seccion_accesorios {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .seccion_accesorios div {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .contenedor_servicios {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; } }
