.imagen_accesorios {
    background-image: url(https://media.istockphoto.com/photos/pet-care-concept-various-pet-accessories-and-tools-on-pink-background-picture-id1401042138?k=20&m=1401042138&s=612x612&w=0&h=7t-LlfmRssw8ewAnkf-OTUoKHVAiMGPxoWIWPtVYoWg=);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    text-align: center;
    p{
        padding-top: 350px;
        font-family: 'Mouse Memoirs', sans-serif;
        font-size: 30px;
        color: white;
    }
}

.seccion_accesorios div {
    display: inline-block;
    width: 200px;
    height: 350px;
    background-color: black;
    color: white;
    text-align: center;
    margin: 20px;
}

.seccion_accesorios p {
    font-size: 12px;
}

.seccion_accesorios img {
    margin-top: 20px;
    width: 100%;
}
.aside_acc {
    width: 200px;
    height: 300px;
    display: inline-block;
    text-align: center;
}

.aside_acc h3 {
    text-decoration: none;
}

.aside_acc ul {
    text-align: center;
    list-style-type: none;
}

.aside_acc li {
    padding: 10px;
}

.aside_acc a {
    text-decoration: none;
    color: black;
}

.aside_acc a:hover {
    background-color: $rosa;
}

.consejos_mascotas{
    width: 900px;
    margin: 0 auto;
    border-radius: 10px;
    b:hover {
        color: $negro;
    }
    @extend %consejos_mascotas;
}

@media (max-width: 768px){
    .imagen_accesorios {
        height: 300px;
    }
    
    .imagen_accesorios p {
        padding-top: 200px;
    }
    
    .seccion_accesorios {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .seccion_accesorios div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .consejos_mascotas{
        width: 500px;
    }

    .contenedor_servicios {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 426px) {
    .imagen_accesorios {
        p{
            padding-top: 200px;
            font-size: 21px;
        }

    }

    .consejos_mascotas{
        width: 300px;
    }
}