.imagen_accesorios {
    background-image: url(https://media.istockphoto.com/photos/pet-care-concept-various-pet-accessories-and-tools-on-pink-background-picture-id1401042138?k=20&m=1401042138&s=612x612&w=0&h=7t-LlfmRssw8ewAnkf-OTUoKHVAiMGPxoWIWPtVYoWg=);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    text-align: center;
    p{
        padding-top: 350px;
        font-family: 'Mouse Memoirs', sans-serif;
        font-size: 30px;
        color: white;
    }
}

.seccion_accesorios div {
    display: inline-block;
    width: 200px;
    height: 350px;
    background-color: black;
    color: white;
    text-align: center;
    margin: 20px;
}

.seccion_accesorios p {
    font-size: 12px;
}

.seccion_accesorios img {
    margin-top: 20px;
    width: 100%;
}
.aside_acc {
    width: 200px;
    height: 300px;
    display: inline-block;
    text-align: center;
}

.aside_acc h3 {
    text-decoration: none;
}

.aside_acc ul {
    text-align: center;
    list-style-type: none;
}

.aside_acc li {
    padding: 10px;
}

.aside_acc a {
    text-decoration: none;
    color: black;
}

.aside_acc a:hover {
    background-color: rgb(241, 98, 122);
}

@media (max-width: 768px){
    .imagen_accesorios {
        height: 300px;
    }
    
    .imagen_accesorios p {
        padding-top: 200px;
    }
    
    .seccion_accesorios {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .seccion_accesorios div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
    .contenedor_servicios {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}



