.header {
    text-align: $texto;
}

.primer_parrafo {
    color: black;
    background-color: $hovernav;
}

.logo_inicio {
    width: 250px;
    border-radius: 10%;
}

.nombreP {
    text-align: $texto;
    color: black;
    &:hover{
        background-color: $hovernav;
    }
 }

 .navbar-nav{
        list-style-type: none;
 }
.nav-item {
    margin: 10px;
    padding: 5px;
    width: 150px;
    background-color: black;
}
.nav-link {
        text-decoration: none;
        color: white;
        &:hover{
            background-color: $hovernav;
        }
}

@media (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: column;
        text-align: $texto;
        font-size: 12px;
    }

    .navbar-nav {
        display: flex;
        justify-content: $texto;
    }

    .nav-item {
        margin: 10px;
        padding: 5px;
        width: 100px;
    }

    .logo_inicio {
        width: 180px;
    }
}

@media (max-width: 426px) {
    .navbar-nav {
        display: flex;
        flex-direction: column;
    }

    .nav-item {
        width: 100px;
    }

    .logo_inicio {
        width: 120px;
    }
    
 }