.main{
   h3{
    text-decoration: overline underline;
    padding: 5px;
    color: black;
    display: inline;
   }
   p{
    padding: 5px;
   }
}

.container-fluid{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.primera_seccion {
    background-image: url(https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?auto=compress&cs=tinysrgb&w=600);
    height: 300px;
    padding: 5px;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: $texto;
    a{
        text-decoration: none;
    }
}

.segunda_seccion {
    color: #FDF0D5;
    text-align: $texto;
    width: 900px;
    margin: 0 auto;
    color: black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    p{
        display: inline-block;
        padding: 5px;
    }
}

.titulo_destacado {
    text-align: $texto;
    margin: 15px;
    h3{
        text-decoration: none;
        color: white;
        background-color: black;
    }
}

.tercera_seccion {
    width: 100%;
    text-align: $texto;
    margin: 5px;
    div{
        width: 20%;
        display: inline-block;
        font-size: 11px;
        background-color: black;
        color: white;
        height: 350px;
        text-align: $texto;
        padding: 5px;
        margin: 5px;
        img{
            width: 200px;
        }
    }
}

@media (max-width: 768px) {
    .segunda_seccion {
        width: 100vw;
        img{
            width: 30px;
            p{
                font-size: 10px;
            }
        }
    }

    .titulo_destacado {
        font-size: 12px;
    }

    .tercera_seccion {
        width: 100%;
        text-align: $texto;
        div {
            height: 300px;
            img{
                width: 120px;
            }
        }

    } 
}

@media (max-width: 426px) {


    .segunda_seccion {
        color: black;
        text-align: $texto;
        p{
            display: inline-block;
            font-size: 15px;
        }
    }

    .tercera_seccion {
        display: flex;
        flex-direction: column;
        align-items: $texto;
        div{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: $texto;
            height: 300px;
            text-align: $texto;
            img{
                width: 120px;
            }
        }
    }
}