@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Hind:wght@300;600;700&family=Montserrat:wght@300;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Hind:wght@300;600;700&family=Mouse+Memoirs&display=swap');

/* font-family: 'Edu SA Beginner', cursive;
font-family: 'Hind', sans-serif;
font-family: 'Montserrat', sans-serif; */
/* font-family: 'Mouse Memoirs', sans-serif; */

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}