//MIXING 

@mixin turnos_peluqueria {
    font-weight: 700;
    font-style: italic;
}

@mixin turnos_veterinaria {
    font-weight: 700;
    font-style: italic;
}

@mixin peluqueria_seccion {
    font-style: italic;
    h3{
        border-radius: 5px;
    }
    p{
        border-radius: 5px;
    }
}

@mixin veterinaria_seccion {
    font-style: italic;
    h3{
        border-radius: 5px;
    }
    p{
        border-radius: 5px;
    }
}

    

